CarND-Alexnet-Feature-Extraction/*.npy
CarND-Alexnet-Feature-Extraction/*.csv
CarND-Alexnet-Feature-Extraction/*.p
application

CarND-Behavioral_Cloning/data/
CarND-Behavioral_Cloning/notebook/*.npy
CarND-Behavioral_Cloning/*.npy

CarND-Intro_keras/*.p
CarND-LaneLines-P1/*.mp4
CarND-LaneLines-P1/extra_data/*.mp4
CarND-LeNet-Lab/MNIST_data

CarND-TrafficSigns-P2/P2_dataset/*.p

CarND-Alexnet-Feature-Extraction/*.p
CarND-Alexnet-Feature-Extraction/*.npy

#CarND-Vehicle-Detection
CarND-Vehicle-Detection/*.mp4
CarND-Vehicle-Detection/all/
CarND-Vehicle-Detection/*.p

#CarND-KalmanFilter
CarND-KalmanFilter/kalman_tracker_linux/
CarND-KalmanFilter/CarND-Extended-Kalman-Filter-Project/build/CMakeFiles/
CarND-KalmanFilter/CarND-Extended-Kalman-Filter-Project/CarND-Mercedes-SF-Utilities-master/

#CarND-Unscented-Kalman-Filter-Project
#simulator
CarND-Unscented-Kalman-Filter-Project/kalman_tracker_linux/
CarND-Unscented-Kalman-Filter-Project/build/CMakeFiles/
CarND-Unscented-Kalman-Filter-Project/build/.ipynb_checkpoints/

#CarND-Kidnapped-Vehicle-Project
CarND-Kidnapped-Vehicle-Project/*.ogv
CarND-Kidnapped-Vehicle-Project/term2_sim_linux
#CarND-PID-Control-Project
CarND-PID-Control-Project/*.ogv
